/* Default CSS for project */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

body {
    font-family: "Roboto", sans-serif;
}

/* Main CSS */



/* Header */

.header {
    height: 100px;
    background-color: #1f2937;
    display: flex;
    align-items: center;
    color: #e5e7eb;
    padding: 10px;
}

.header-left {
    font-size: 18px;
}

.header-right {
    display: flex;
    margin-left: auto;
    gap: 15px;
}

.header-right h2 {
    font-weight: 300;
    font-size: 24px;
}



/* Content 1 */

.content1 {
    display: flex;
    background-color: #1f2937;
    color: #e5e7eb;
    height: 500px;
}

.content1-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    gap: 15px;
}

.content1-left h1 {
    font-size: 48px;
    margin-bottom: -10px;
}

.content1-left button {
    background-color: #3882F6;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 5px;
    width: 10em;
}   

.content1-right {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.content1-right img {
    max-width: 100%;
    max-height: 110%;
}

.content1-right, .content1-left {
    flex: auto;
    width: 100%;
}



/* Content 2 */

.content2 {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.content2 h2 {
    text-align: center;
    font-size: 38px;
}

.content2-items-container {
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
}

.content2-items-container div {
    display: flex;
    flex-direction: column;
    min-height: 250px;
    width: 200px;
    max-width: 250px;
    text-align: center;
}

.content2-items-container img {
    border-radius: 10px;
}

.content2-items-container p {
    padding: 10px;
}
